# Visual Studio Code
.vscode/

# Python
*.pyc
__pycache__/

# Jupyter notebooks
.ipynb_checkpoints/

# Data
/data/*
!/data/*.sh
!/data/*.names

# Images downloading
geckodriver.log

# Trained models
/models/

# MyPy
.mypy_cache/

# TMP data files
kinetics_splits/